
/* Contenedor del modal */
.cont {
  background-color: #d9e5f1;
  width: 450px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}


/* Estilo personalizado para el botón guardar */
.btnGuardar {
    padding: 8px 20px;        /* Espaciado dentro del botón */
    font-size: 15px;           /* Tamaño del texto */
    background-color: #021334;
    color: white;              /* Color del texto */
    border: none;              /* Eliminar borde */
    border-radius: 5px;        /* Bordes redondeados */
    display: flex;
    cursor: pointer;          /* Muestra un cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave para cambio de color */
   
  }
  /* Efecto al pasar el mouse por encima */
  .btnGuardar:hover {
    background-color:#021334e3;; /* Color más oscuro al pasar el mouse */
    color: white;
}


/* Estilo personalizado para el botón cancelar */
.btnCancelar {
    padding: 8px 20px;        /* Espaciado dentro del botón */
    font-size: 15px;           /* Tamaño del texto */
    background-color: #99b3e9; 
    color: (8, 34, 63);              /* Color del texto */
    border: none;              /* Eliminar borde */
    border-radius: 5px;        /* Bordes redondeados */
    display: flex;
    cursor: pointer;          /* Muestra un cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave para cambio de color */
   
  }
  
  /* Efecto al pasar el mouse por encima */
  .btnCancelar:hover {
    background-color: #14448d; /* Color más oscuro al pasar el mouse */
    color: #f5f5f5;
}